.footer_site {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #f6f6f6;

  .phones {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    ul {
      padding: 0;
      padding-left: 20px;
      list-style: none;
      margin: 0;
      font-family: $font__main;
      font-size: 20px;
      font-weight: $weight_semi_bold;
    }
  }

  .social-block {
    margin-top: 30px;
    position: relative;
    left: -7px;
  }
}

.footer_nav {
  width: fit-content;

  li {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li a {
    color: #000;
    font-family: $font__main;
    font-size: 14px;
    font-weight: $weight_semi_bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s all;

    &:hover {
      opacity: 0.8;
      transition: 0.5s all;
    }
  }
}

.footer_site .post {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  border-radius: 40px;
  background-color: #fff;

  .content-post {
    padding: 25px 20px;

    p {
      display: flex;
      flex-flow: column;
    }
  }
}

.title_block_footer {
  color: #000;
  font-family: $font__main;
  font-size: 14px;
  font-weight: $weight_semi_bold;
}
