// .banner .nav li {
//   @extend .nav-item;
// }

// .banner .nav a {
//   @extend .nav-link;
// }

// .banner .navbar li a {
//   color: #000;
//   font-family: "Helvetica Neue", serif;
//   font-size: 14px;
//   font-weight: 700;
//   text-decoration: none;
// }

// .banner .menu-main-container {
//   width: 100%;
// }

// .banner .navbar .navbar-nav {
//   display: flex;
//   justify-content: space-around;
// }

// header.banner {
//   min-height: 160px;
//   background-color: #f6f6f6;
// }

// header.banner .sub-menu {
//   display: none;
// }

// header.banner .navbar li {
//   display: flex;
//   align-items: center;
//   position: relative;

//   &:hover {
//     & > a {
//       position: relative;
//       top: 1.5px;
//       border-bottom: 3px solid #711e06;
//     }

//     & > .sub-menu {
//       transform: translateX(-33%);
//       display: flex;
//       position: absolute;
//       flex-flow: column;
//       top: 60px;
//       left: 0;
//       padding: 0;
//       padding-bottom: 15px;
//       padding-top: 10px;
//       box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
//       border-radius: 0 0 40px 40px;
//       background-color: #f6f6f6;

//       & > li {
//         padding: 10px 20px;
//         position: relative;
//         z-index: 100;

//         & > ul {
//           transform: translateX(0);
//           position: absolute;
//           top: 0;
//           left: 100%;
//           margin: 0;
//           border-radius: 0;
//           border-top-right-radius: 40px;
//           border-bottom-right-radius: 40px;
//           z-index: -1;
//         }

//         a {
//           color: #000;
//           width: 100%;
//           text-align: center;
//           font-family: $font__main;
//           font-size: 14px;
//           font-weight: $weight_light;

//           &:hover {
//             border: none;
//           }
//         }

//         &:hover {
//           a {
//             border: none;
//             top: 0;

//             .sub-menu {
//               display: flex;
//             }
//           }
//         }
//       }
//     }
//   }
// }
.header-navigation {
    max-width: 1440px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;

    .social {
        &-nav {
            @media screen and (min-width: 991.98px) {
                order: 3;
            }
        }
        &-menu {
            display: flex;
            padding: 0;
            margin: 0;
        }
        &-item {
            list-style-type: none;
        }
    }
    .navbar-brand {
        img {
            max-width: 32px;
            @media screen and (min-width: 991.98px) {
                max-width: 50px;
                order: 1;
            }
        }
    }

    .navbar-toggler {
        outline: none;
    }

    .navbar-nav {
        @media screen and (min-width: 991.98px) {
            order: 2;
            margin: 0;
        }
        margin-top: 32px;
        .menu-item {
            margin-bottom: 20px;
            @media screen and (min-width: 991.98px) {
                margin: 0;
                padding: 0 30px;
            }
            a {
                color: #000000;
                font-family: "Helvetica Neue";
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
            &.menu-item-has-children {
                @media screen and (min-width: 991.98px) {
                    position: relative;
                }
                & > a {
                    position: relative;
                    &:after {
                        content: url("../images/nav-submenu-arrow.svg");
                        position: absolute;
                        right: -20px;
                        top: -4px;
                        color: #711e06;
                        font-size: 16px;
                        // @media screen and (min-width: 991.98px) {
                        //   transform: rotate(-90deg)
                        // }
                    }
                }
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }

                & > .sub-menu {
                    @media screen and (min-width: 991.98px) {
                        position: absolute;
                        top: 0;
                        left: 0;
                        box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
                        border-radius: 0 0 40px 40px;
                        background-color: #f6f6f6;
                        margin-top: 40px;
                        padding: 20px 0px 0px;
                        // z-index: 100;
                        min-width: 100%;
                        text-align: center;
                    }
                    .menu-item {
                        @media screen and (min-width: 991.98px) {
                            margin-bottom: 25px;
                            padding: 0;
                        }
                    }
                    & > .menu-item-has-children {
                        & > a {
                            &:after {
                                @media screen and (min-width: 991.98px) {
                                    transform: rotate(-90deg);
                                }
                            }
                        }
                        &:hover {
                            @media screen and (min-width: 991.98px) {
                                & > .sub-menu {
                                    display: flex;
                                    z-index: -1;
                                }
                            }
                        }
                        & > .sub-menu {
                            @media screen and (min-width: 991.98px) {
                                display: none;
                                flex-flow: column;
                                align-items: center;
                                top: -20px;
                                left: 100%;
                                margin: 0;
                                border-radius: 0;
                                border-top-right-radius: 40px;
                                border-bottom-right-radius: 40px;
                                background-color: #f6f6f6;
                                box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
                                z-index: -1;
                                .menu-item {
                                    padding: 0;
                                    // background-color: red;
                                }
                            }
                        }
                    }
                }
            }
            .sub-menu {
                padding: 0;
                padding-left: 28px;
                margin-top: 20px;
                border: none;
                position: relative;

                &:before {
                    @media screen and (min-width: 991.98px) {
                        display: none;
                    }
                    content: "";
                    width: 8px;
                    height: 100%;
                    background-color: #711e06;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                a {
                    font-weight: 300;
                    text-transform: capitalize;
                }
            }
        }
    }
}
